<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--记得和接口映射-->
<mapper namespace="com.test.mapper.TestMapper">
    <select id="selectAllUser" resultMap="test">
        select * from user
    </select>

    <resultMap id="test" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <association property="group" column="gid" select="selectGroupById"/>
    </resultMap>

    <select id="selectGroupById" resultType="Group">
        select * from `group` where id = #{id}
    </select>

    <select id="selectUserById" resultMap="test" >
        select * from user where id = #{id}
    </select>

    <select id="selectUserDetailById" resultType="UserDetail">
        select * from user_detail where id = #{id}
    </select>

    <select id="selectBookByUid" resultType="Book">
        select * from book where uid = #{uid}
    </select>

    <select id="selectByIdAndAge" resultType="User">
        select *from user where id = #{id} and age = #{age}
    </select>

    <select id="selectUsersByAge" resultType="User">
        select *from user where age >= #{age}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user (name,age) values (#{name},#{age})
    </insert>

    <update id="updateAgeById">
        update user set age = #{age} where id = #{id}
    </update>

    <delete id="deleteUserById" >
        delete from user where id =#{id}
    </delete>

    <insert id="insertUsers">
        insert into user (name,age) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item},18)
        </foreach>
    </insert>

</mapper>